
.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 95%;
    border-bottom: 1px solid;
    font-size: 15px;

}

.todo-list {
    align-items: center;
    padding: 30px 30px 40px 30px;
    width: 50%;
    border: 1px solid;
}

div {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
  